.field{
    display: grid;
}

input {
    width: 20%;
}

.margin-top-1 {
    margin-top: 20px;
}

.border-radius-1 {
    border-radius: 5px;
}

.no-border{
    border: none;
}

.btn-primary{
    background-color: blue;
    color: white;
    font-weight: 300;
    margin-right: 10px;
    height: 30px;
}

.display-none{
    display: none;
}

.display-flex {
    display: flex;
}