<div [class]='visibleErrMsg'>
    El operando 2 no puede ser 0 en las divisiones!
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Aplicación de calculadora</h1>
            <div class="field margin-top-1">
                <label>Operando 1</label>
                <input [(ngModel)]="op1" class="border-radius-1" type="number">
            </div>
            <div class="field margin-top-1">
                <label>Operando 2</label>
                <input [(ngModel)]="op2" class="border-radius-1" type="number">
            </div>
            <div class="options margin-top-1">
                <button (click)="sumar()" class="btn btn-primary border-radius-1">Sumar!</button>
                <button (click)="multiplicar()" class="btn btn-primary border-radius-1">Multiplicar!</button>
                <button (click)="restar()" class="btn btn-primary border-radius-1">Restar!</button>
                <button (click)="dividir()" class="btn btn-primary border-radius-1">Dividir!</button>
            </div>
            <input [(ngModel)]="result" type="text" class="field margin-top-1 no-border">
        </div>
    </div>
</div>